[Unit]
Description=Remove old backups

[Service]
Type=oneshot
EnvironmentFile=/etc/btr-backup.conf
Environment="CLEANUP_DAYS=6"
Environment="CLEANUP_WEEKS=6"
Environment="CLEANUP_MONTHS=6"
ExecStart=/usr/bin/cleaner.py --months=${CLEANUP_MONTHS} --weeks=${CLEANUP_WEEKS} --days=${CLEANUP_DAYS} $CLEANUP_SOURCES
